

@media screen and (max-width:1120px){

    .project_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:160px 0;
    }

    .project_section .row{
        display: block;
        padding-top: 0px;
    }

}





@media screen and (max-width:900px){

.section{
        display: block;
        height: auto;
        padding:100px 0;    
}

.section .content{
    font-size:2.4rem;
}


.section .content .name{
  font-size:2.8rem;
}


.section2,.project_section,.section4,.section5{
    padding:100px 0;
}

.section2 h2,.project_section .project__text,.section4 h2,.section5 h2{
    font-size: 2.2rem;
}

.project_section .project__tools__text{
    font-size: 20px;

}

.section4 p{
    padding:50px 90px; 
    font-size: 1.6rem;
    line-height: 40px;
}

.section5 .contacts li p{
    font-size: 1.4rem;
}

.section5 .contacts li a{
    font-size: 1.8rem;
}

.section5 .contacts{
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        row-gap:40px;
    }

.section5 .contacts li{
        display: flex;
        flex-direction: column;
        list-style: none;
        
    }



 /*menu reponsivo*/

#btn-menu{
    display: block;
    border-top: 3px solid #fff;
    width: 30px;
}

#btn-menu::after,#btn-menu::before{
    content: '';
    display: block;
    width: inherit;
    height: 3px;
    background-color: #fff;
    margin-top: 5px;
    transition: .6s;
    position: relative;
}

.navegation.activo #btn-menu{
    border-top: transparent;
}

.navegation.activo #btn-menu::after{
   transform: rotate(-135deg);
   top: -7px;
}

.navegation.activo #btn-menu::before{
    transform: rotate(135deg);
}

.menu{
    display:block;
    position: absolute;
    width: 0px;
    height: auto;
    top: 0;
    left: 0;
    z-index: 10;
    padding:40px 20px 20px;
    background-color: #fff;
    overflow: hidden;
    transition:.4s;
    opacity: 0;
}


.menu::before{
    content:"AV";
    display: block;
    color:#000;
    font:bold 2.4rem 'Kotta One';
    margin-right:20px;
    text-align: right;
}

.menu li{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 20px;
}

.menu li .icon__img{
    width:40px;
    height:40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu li .icon__img--home{
    background-image: url("../img/icon/home.png");
}

.menu li .icon__img--hability{
    background-image: url("../img/icon/hability.png");
}

.menu li .icon__img--project{
    background-image: url("../img/icon/project.png");
}

.menu li .icon__img--about{
    background-image: url("../img/icon/about.png");
}

.menu li .icon__img--contact{
    background-image: url("../img/icon/contact.png");
}

.menu a {
    display: block;
    margin: 16px 0px;
    padding:10px 5px;
    font-size:22px;
    font-weight: 600;
    font-family: sans-serif;
    color:#000;
    text-decoration:none;
}

.menu a:hover{
    border-bottom:none;
}

.navegation.activo .menu{
    display: block;
    width: 300px;
    opacity:1;
}

.navegation.activo .menu a {
  text-decoration: none;
}

.section5 .contacts li{
    margin:30px 6px;
}

.section5 .contacts li a{
    padding:10px 2px;
}

.section5 .contacts li span{
    width: 70px;
    height: 70px;
    border-radius:50%;
}

}







@media screen and (max-width:800px){

    .project_section .row{
        display: block;
    }

    .project_section .project__description{
        width: 130px;

    }

    .project_section .project{
        display: flex;    
        width: 400px;
        height: 300px;
    }

    .project_section .project__tools{
        display: flex;
        flex-direction: column;
       /* align-items: center;*/
        padding: 2px 4px;
      }

    .project_section .project__tools__text{
        padding:3px 3px 8px 3px;
        font-size: 18px;
        font-weight:bold;

    }

.project_section .project__tools__list button,
.project_section .project__links__list button{
    border-radius:4px;
    padding:3px 2px;
    margin-bottom:0px;
}


}





@media screen and (max-width:650px){

   .logo{
        font-size:1.9rem;
        font-weight:bold;
        font-family: 'Kotta One', serif;
    }

    .menu::before{
        font:bold 1.9rem 'Kotta One';
        margin-right:16px;
    }
    
    .menu li{
        column-gap: 8px;
        margin-left: 15px;
    }
    
    .menu li .icon__img{
        width:35px;
        height:35px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .menu a {
        margin: 16px 0px;
        padding:10px 5px;
        font-size:16px;
    }

    .navegation.activo .menu{
        width: 250px;
    }
      
    
    .section{
        display: block;
        height: auto;
        padding:60px 0;
     }

   .section .content{
    font-size:2.1rem;
}


 .section .content .name{
  font-size:2.5rem;
 }

 .section .content .links{ 
    padding-top:70px;
}

.section .content .links a button{
    width: 150px;
    height:40px;
    border-radius:8px;
}

.section2,.section3,.section4,.section5{
    padding:80px 0;
}

.section2 h2,.section3 h2,.section4 h2,.section5 h2{
    font-size: 2rem;
}

.section2 .tecnology{
    padding-top: 90px;
}

.section2 .tecnology .first-list{
    display: grid;
    grid-template-columns: auto auto;
}

.section2 .tecnology .second-list{
    display: grid;
    grid-template-columns: auto auto;
}

.section2 .tecnology .third-list{
    display: block;
}

.section2 .tecnology .hability img{
    width: 45px;
    height: 45px;
}

.section2 .tecnology .hability p{
    padding-top: 12px;
}


/*project*/


.project_section .project__description{
    width: 120px;
}

.project_section .project{
    width: 340px;
    height: 270px;
}

.project_section .project__tools__text{
    padding:2px 2px 6px 2px;
    font-size: 18px;
    font-weight:bold;

}

.project_section .project__tools__list button,
.project_section .project__links__list button{
border-radius:4px;
padding:3px 2px;
margin-bottom:0px;
}


.section4 p{
    font-size: 1.6rem;
}

.section5 .contacts{
    margin-top: 60px;
    row-gap:40px;
}


.section5 .contacts li span{
    width: 60px;
    height: 60px;
    border-radius:50%;
}

.section5 .contacts li a{
    font-size: 1.8rem;
}

}




@media screen and (max-width:500px){

 .section{
        padding: 60px 0;
  }

   .section .content{
    font-size:1.7rem;
   }

 .section .content .name{
  font-size:2rem;
 }

 
 .section .content .links{ 
    padding-top:50px;
}

 .section .content .links a button{
    width: 120px;
    height:36px;
    border-radius:8px;
}

.section2,.project_section,.section4,.section5{
    padding:60px 0;
}

.section2 h2,.project_section .project__text,.section4 h2,.section5 h2{
    font-size: 1.8rem;
}

.section2 .tecnology .hability{
    flex-wrap: wrap;
    justify-content: center;
}

.section2 .tecnology .hability img{
    width: 40px;
    height: 40px;
}

.project_section .project__description{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius:0px 0px 20px 20px;
    padding:0;
    row-gap: 8px;
}

.project_section .project__tools{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding:10px 10px 0px 10px;
  }

  .project_section .project__tools__list{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  .project_section .project__links{
    width: 100%;
  }

  .project_section .project__links__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:6px 10px;

}

.project_section .project__tools__list button,
.project_section .project__links__list button{
    cursor:pointer;
    font-size: 12px;
}

.project_section .project{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 380px;
    margin-bottom: 140px;

}

.section4 p{
    font-size: 1.5rem;
}

.section5 .contacts{
    margin-top: 60px;
    row-gap:40px;
}


.section5 .contacts li p{
    font-size: 1.4rem;
    font-weight:800;
}

.section5 .contacts li a{
    font-size: 1.4rem;
}

}






@media screen and (max-width:340px){

    .menu::before{
        font:bold 1.9rem 'Kotta One';
        margin-right:16px;
    }
    
    .menu li{
        column-gap: 8px;
        margin-left: 10px;
    }
    
    .menu li .icon__img{
        width:30px;
        height:30px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .menu a {
        margin: 16px 0px;
        padding:10px 5px;
        font-size:16px;
    }

    .navegation.activo .menu{
        width: 220px;
    }

.section{
        padding: 60px 0;
 }

   .section .content{
    font-size:1.4rem;
   }

 .section .content .name{
  font-size:1.7rem;
 }

 
 .section .content .links{ 
    padding-top:45px;
    column-gap: 10px;
}

 .section .content .links a button{
    width: 110px;
    height:32px;
    border-radius:6px;
}

.section2 h2,.project_section .project__text,.section4 h2,.section5 h2{
    font-size: 1.6rem;
} 

.project_section .project__description{
    border-radius:0px 0px 15px 15px;
}

.project_section .project__tools__text{
    font-size: 16px;
}

.project_section .project__links{
    width: 100%;
  }

.project_section .project__links__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:6px 2px;

}


.project_section .project{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 300px;
    margin-bottom: 140px;


}

.section5 .contacts li span{
    width: 50px;
    height: 50px;
}

.section5 .contacts li a{
    font-size: 1.1rem;
}

}


